* { box-sizing: border-box; }

html {
  font-size: 62.5%; /* 10px */
  overflow-y: auto;
  background: #fcfbfa;
}

body {
  font: 1.6rem Arial; /* 16px */
  padding: 0;
  margin: 0;
}

a,
a:hover,
a:focus,
a:active,
a:visited {
  color: #041c46;
}

body::-webkit-scrollbar {
  width: .7rem;
  background-color: none;
  border-radius: 1rem;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0 0 0 / 5%);
}

body::-webkit-scrollbar-thumb {
  width: .5rem;
  background-color: #89a;
  border: 2px solid #041c46;
  border-radius: 1rem;
  height: 20%;
}


/* -- BASE -- */
/* layout */
.region {
  width: 100%;
}

.block {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.body-content-wrapper {
  width: 94%;
  max-width: 1200px;
  margin: 0 auto 10rem;
  background: #041c46 no-repeat center 120% / 100% url("cold-start-bg.jpg");
  padding: 7rem;
  padding-top: 5rem;
  padding-bottom: 35rem;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0 0 0 / 10%);
  position: relative;
  top: -20rem;
  min-height: 80vh;
  border: 1px solid rgba(255 255 255 / 30%);
}

/* modals */
.modal-curtain {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  outline: 0;
  background: rgba(0 0 0 / 60%);
  transition: .5s all;
}

.console-hide .modal-curtain {
  width: 0;
  background: rgba(0 0 0 / 0%);
}

/* behaviors */
.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.hide,
.hide-children > div {
  display: none;
}

.show {
  display: block !important;
}

/* elements */
.button {
  padding: 2rem 2.5rem;
  background: rgba(255 255 255 / 15%);
  border: 1px solid rgba(255 255 255 / 25%);
  border-radius: 2px;
  text-decoration: none;
  font-size: 1.8rem;
}


/* -- SEARCH -- */
#header-block {
  padding: 4rem 2rem 15rem;
  margin-bottom: 9rem;
  background: #173fc2;
}


/* -- POI -- */
#poi-block {
  margin: 1rem auto;
}

.poi-card {
  position: relative;
  text-align: center;
}

.poi-card h1 {
  margin: .5rem;
}

.poi-card p {
  margin: .5rem;
}


/* -- REPORTS -- */
#reports-block {
  width: 95%;
}

#reports-block h2 {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin: .5rem;
  margin-bottom: 1rem;
}


/* -- CARD -- */
.card {
  display: block;
  margin: .5rem;
  padding: 1rem 2rem;
  background: #fff;
  border: 1px solid #c9c8c7;
  border-left: 4px solid #041c46;
  border-radius: 5px;
  box-shadow: 1px 2px 0 rgba(0 0 0 / 6%);
  width: 30rem;
  text-decoration: none;
}

.card .name {
  text-decoration: underline;
}

.card small {
  display: block;
  margin: .5rem 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* -- MANAGERS -- */
#managers-block {}

.managers-grid {
  gap: 1rem;
  margin: 1rem auto;
}

.managers-grid .card {
  background: #fff;
  border: 1px solid #c9c8c7;
  border-left: 4px solid #900;
  box-shadow: 5px 5px 10px rgba(0 0 0 / 7%);
}


/* -- EDGES -- */
.edge {
  height: 3rem;
  background: no-repeat center / 1px 100%;
  background-image: linear-gradient(#000, #000);
}

#reports-block .edge {
  margin-bottom: -2rem;
}

#reports-container {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid rgba(255 255 255 / 50%);
}


/* -- LOGO -- */
.logo {
  background: url("logo-white.svg") no-repeat 0/150px;
  width: 150px;
  height: 30px;
  position: absolute;
  top: 5.8rem;
  left: 5rem;
  cursor: pointer;
  transition: .2s ease-out scale;
}

.logo:hover {
  scale: 110%;
  transition: .2s ease-in scale;
}


/* -- CONSOLE -- */
.console {
  position: fixed;
  top: 2rem;
  left: 0;
  padding: 0;
  margin: 0;
  background: rgba(24 38 70 / 97%);
  border: 1px solid #89a;
  border-left: none;
  border-radius: 0 5px 5px 0;
  box-shadow: 0 0 20px rgba(0 0 0 / 100%), 0 0 300px 0 rgba(0 0 0 / 30%);
  min-height: 50vh;
  max-height: 97vh;
  width: 40vw;
  overflow-y: scroll;
  overflow-x: hidden;
  opacity: 1;
  z-index: 8888;
  transition: opacity ease-out .1s, left ease-out .3s;
}

.console::-webkit-scrollbar {
  width: .4rem;
  background-color: none;
  border-radius: 1rem;
}

.console::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0 0 0 / 5%);
}

.console::-webkit-scrollbar-thumb {
  width: .4rem;
  background-color: #89a;
  border-radius: 1rem;
  height: 20%;
}

.console-hide .console {
  opacity: .7;
  left: -100%;
  transition: opacity ease-in .1s, left ease-in .3s;
}

.console-body {
  margin: 0;
  margin-top: 10rem;
}

.console .node {
  padding-left: 3rem;
  border-left: 1px dashed #567;
}

/* the EMPLOYEE node */
.console .node.employee-node {
  border-left: none;
}

.console .node .inner {
  display: inline-block;
  background: rgba(255 255 255 / 10%);
  padding: .7rem 1.3rem;
  margin: .4rem 0;
  margin-left: -.57em;
  border: 1px solid #567;
  border-radius: 3px;
  text-decoration: none;
  transition: .1s all;
}

.console .node.employee-node > a > .inner {
  width: 97%;
  font-weight: 600;
  background: #236;
  border-color: #89a;
  padding: 1rem 1rem 1rem 1.3rem;
}

.console .node:not(.employee-node) .inner {
  color: #fff;
}

.console .node:not(.employee-node) .inner:hover {
  background: rgba(255 255 255 / 15%);
  border: 1px solid #789;
  scale: 101%;
}

.console .node.employee-node .name {
  color: #fc4;
}

.console .employee-node .node .name {
  color: #fff;
  text-decoration: underline;
}

.console .node small {
  display: block;
  margin: .5rem 0 0;
  color: #aab;
}

.console-title {
  position: fixed;
  padding: 0;
  padding-left: 3rem;
  width: calc(40vw - .1rem);
  background: rgba(14 28 60 / 100%);
  border-bottom: 1px solid #456;
  border-radius: 0 4px 0 0;
  box-shadow: 0 0 10px rgba(0 0 0 / 30%);
  z-index: 999;
}

.console-title h2 {
  margin: 0;
  padding: 2rem;
}

.console-title h2::before {
  position: absolute;
  top: 2.5rem;
  left: 1.5rem;
  content: "";
  height: 16px;
  width: 16px;
  background: rgba(255 255 255 / 0%) no-repeat url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_48_17)'%3E%3Cpath d='M5.83333 12.5H4.16667C3.24619 12.5 2.5 13.2462 2.5 14.1667V15.8333C2.5 16.7538 3.24619 17.5 4.16667 17.5H5.83333C6.75381 17.5 7.5 16.7538 7.5 15.8333V14.1667C7.5 13.2462 6.75381 12.5 5.83333 12.5Z' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15.8333 12.5H14.1667C13.2462 12.5 12.5 13.2462 12.5 14.1667V15.8333C12.5 16.7538 13.2462 17.5 14.1667 17.5H15.8333C16.7538 17.5 17.5 16.7538 17.5 15.8333V14.1667C17.5 13.2462 16.7538 12.5 15.8333 12.5Z' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.8333 2.5H9.16667C8.24619 2.5 7.5 3.24619 7.5 4.16667V5.83333C7.5 6.75381 8.24619 7.5 9.16667 7.5H10.8333C11.7538 7.5 12.5 6.75381 12.5 5.83333V4.16667C12.5 3.24619 11.7538 2.5 10.8333 2.5Z' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5 12.5V11.6667C5 11.2246 5.17559 10.8007 5.48816 10.4882C5.80072 10.1756 6.22464 10 6.66667 10H13.3333C13.7754 10 14.1993 10.1756 14.5118 10.4882C14.8244 10.8007 15 11.2246 15 11.6667V12.5' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10 7.5V10' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_48_17'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") 50% 45% ;
}

.console-close {
  user-select: none;
  position: absolute;
  top: 1.9rem;
  right: 1rem;
  height: 16px;
  width: 16px;
  padding: 16px;
  cursor: pointer;
  border-radius: 20px;
  background: rgba(45 45 70 / 0%) no-repeat center / 60% url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_48_29)'%3E%3Cpath d='M6.41667 4.0835L3.5 7.00016L6.41667 9.91683' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.91667 4.0835L7 7.00016L9.91667 9.91683' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_48_29'%3E%3Crect width='14' height='14' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  transition: .2s all;
}

.console-close:hover {
  background-color: rgba(45 45 70 / 100%);
  right: 1.3rem;
}

.console-toggle {
  user-select: none;
  position: absolute;
  top: .7rem;
  right: -5rem;
  height: 16px;
  width: 16px;
  cursor: pointer;
  border: 1px solid #345;
  border-radius: 20px;
  padding: 18px;
  background: rgba(255 255 255 / 10%) no-repeat url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_48_17)'%3E%3Cpath d='M5.83333 12.5H4.16667C3.24619 12.5 2.5 13.2462 2.5 14.1667V15.8333C2.5 16.7538 3.24619 17.5 4.16667 17.5H5.83333C6.75381 17.5 7.5 16.7538 7.5 15.8333V14.1667C7.5 13.2462 6.75381 12.5 5.83333 12.5Z' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15.8333 12.5H14.1667C13.2462 12.5 12.5 13.2462 12.5 14.1667V15.8333C12.5 16.7538 13.2462 17.5 14.1667 17.5H15.8333C16.7538 17.5 17.5 16.7538 17.5 15.8333V14.1667C17.5 13.2462 16.7538 12.5 15.8333 12.5Z' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.8333 2.5H9.16667C8.24619 2.5 7.5 3.24619 7.5 4.16667V5.83333C7.5 6.75381 8.24619 7.5 9.16667 7.5H10.8333C11.7538 7.5 12.5 6.75381 12.5 5.83333V4.16667C12.5 3.24619 11.7538 2.5 10.8333 2.5Z' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5 12.5V11.6667C5 11.2246 5.17559 10.8007 5.48816 10.4882C5.80072 10.1756 6.22464 10 6.66667 10H13.3333C13.7754 10 14.1993 10.1756 14.5118 10.4882C14.8244 10.8007 15 11.2246 15 11.6667V12.5' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10 7.5V10' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_48_17'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") 50% 45% ;
  transition: .2s all;
}

.console-toggle:hover {
  background-color: rgba(255 255 255 / 20%);
  border: 1px solid #456;
  scale: 103%;
}

.console-toggle:hover .tooltip {
  opacity: 1;
}

.console-toggle .tooltip {
  white-space: nowrap;
  position: absolute;
  bottom: .5rem;
  left: 150%;
  padding: 1rem;
  opacity: 0;
  background: #000;
  transition: .2s ease-in opacity;
  font-size: 1.4rem;
  font-weight: 500;
}


/* -- THEME -- */
.mode-toggle {
  height: 16px;
  width: 16px;
  position: absolute;
  bottom: 3rem;
  right: 4rem;
  cursor: pointer;
  border-radius: 20px;
  padding: 18px;
  background: rgba(0 0 0 / 5%) no-repeat 54% center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23cfcecd' class='bi bi-moon-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z'/%3E%3C/svg%3E");
  transition: ease-in .2s all;
}

.mode-toggle:hover {
  background-color: rgba(0 0 0 / 7%);
  filter: brightness(.9);
}


/* -- AUTOCOMPLETE -- */
.autocomplete-form {
  position: relative;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0 0 0 / 5%);
  transition: .2s ease-in all;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  width: 45rem;
}

.autocomplete-input,
.autocomplete-button {
  font-size: 1.6rem;
  border: none;
  background: none;
}

.autocomplete-input {
  width: 100%;
  border: 1px solid #173fc2;
  padding: 20px;
}

.autocomplete-input::placeholder {
  font-style: italic;
}

.autocomplete-input:focus {
  outline: none;
}

.autocomplete-button {
  pointer-events: none;
  position: absolute;
  right: 1.5rem;
  top: 2rem;
  padding: 0 2.5rem;
  color: #041c46;
  width: 1rem;
  border-radius: 2.5rem;
  background: no-repeat 75% 50%/1.8rem;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' stroke='%23888' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 14.5147C10.9916 14.5147 13.75 11.5307 13.75 7.94121C13.75 4.35171 10.9916 1.36768 7.5 1.36768C4.00841 1.36768 1.25 4.35171 1.25 7.94121C1.25 11.5307 4.00841 14.5147 7.5 14.5147Z' stroke-width='1.5'/%3E%3Cpath d='M12.71 12.7059L16.5 16.5026' stroke-width='2.5' stroke-linecap='round'/%3E%3C/svg%3E%0A");
}

.autocomplete-items {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  font-size: 1.3rem;
  border: 1px solid #6b778b;
  border-bottom: none;
  border-top: none;
}

.autocomplete-items div {
  padding: 1.4rem;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #173fc2;
  transition: .1s all;
}

.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

.autocomplete-items .job-title {
  opacity: .8;
}

.autocomplete-active {
  background-color: #173fc2 !important;
  color: #fff;
}


/* -- COLD START MODE -- */
html.cold-start-mode {
  background-color: #041c46;
}

html.cold-start-mode .cold-start * {
  color: #fff;
}

html.cold-start-mode .body-content-wrapper {
  top: -11rem;
  padding: 0;
  overflow: hidden;
}

html.cold-start-mode .cold-start {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 3rem;
}

html.cold-start-mode #header-block {
  margin-bottom: 0;
}

html.cold-start-mode .cold-start h1 {
  margin: 1rem 0;
  padding: .5rem;
  font-size: 4rem;
}

html.cold-start-mode .cold-start p {
  margin: 1rem;
  padding: .5rem;
}

html.cold-start-mode .cold-start hr {
  margin: 3rem;
  opacity: .5;
}

html.cold-start-mode .cold-start .message {
  min-width: 300px;
  width: 40%;
  margin: 0 auto;
  text-align: center;
  padding-top: 0;
}

html.cold-start-mode .cold-start .point-up {
  background: no-repeat center 20px / 50%;
  background-image: url("cold-start-finger.svg");
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

html.cold-start-mode .cold-start .code {
  display: inline-block;
  padding: 5px 8px;
  font-family: monospace;
  background: #111;
  color: #cb1;
}

html.cold-start-mode .cold-start .button {
  display: inline-block;
  margin-top: 1rem;
}


/* -- DARK MODE -- */
html.dark-mode {
  background-color: #041c46;
  background-color: #001640;
}

html.dark-mode * {
  color: #ccc;
}

html.dark-mode #header-block {
  background: #0b1d56;
}

html.dark-mode .poi-card h1 {
  color: #fc4;
}

html.dark-mode .card {
  background: #233256;
  border: 1px solid #567;
  border-left: 4px solid #375fe2;
  box-shadow: 1px 2px 0 rgba(0 0 0 / 12%);
  transition: .1s all;
}

html.dark-mode .card:hover {
  background: #2d3b5f;
  border: 1px solid #678;
  border-left: 4px solid #375fe2;
  scale: 101%;
}

html.dark-mode .card .name {
  color: #f9f9f9;
}

html.dark-mode .card .name small {
  color: #ccc;
}

html.dark-mode .managers-grid .card {
  border-left: 4px solid #b22;
  box-shadow: 5px 5px 10px rgba(0 0 0 / 15%);
  color: #f9f9f9;
}

html.dark-mode #matrix-manager {
  border-left-color: #999;
}

html.dark-mode .edge {
  background-image: linear-gradient(rgba(255 255 255 / 50%), rgba(255 255 255 / 50%));
}

html.dark-mode .autocomplete-form {
  background: rgba(255 255 255 / 5%);
  box-shadow: 0 0 6px rgba(0 0 0 / 15%);
}

html.dark-mode .autocomplete-form:hover {
  background: rgba(255 255 255 / 10%);
  box-shadow: 0 0 20px rgba(0 0 0 / 30%);
}

html.dark-mode .autocomplete-input {
  border-color: #041c46;
}

html.dark-mode .autocomplete-input::placeholder {
  color: rgba(255 255 255 / 60%);
}

html.dark-mode .autocomplete-button {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' stroke='%23ccc' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 14.5147C10.9916 14.5147 13.75 11.5307 13.75 7.94121C13.75 4.35171 10.9916 1.36768 7.5 1.36768C4.00841 1.36768 1.25 4.35171 1.25 7.94121C1.25 11.5307 4.00841 14.5147 7.5 14.5147Z' stroke-width='1.5'/%3E%3Cpath d='M12.71 12.7059L16.5 16.5026' stroke-width='2.5' stroke-linecap='round'/%3E%3C/svg%3E%0A");
  opacity: .8;
}

html.dark-mode .autocomplete-items {
  border-color: #041c46;
}

html.dark-mode .autocomplete-items div {
  background-color: rgba(38 58 108 / 100%);
  border-bottom-color: #041c46;
}

html.dark-mode .autocomplete-items div:hover {
  background-color: rgba(58 78 128 / 100%);
}

html.dark-mode .mode-toggle {
  background-color: rgba(255 255 255 / 10%);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23666' class='bi bi-moon-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z'/%3E%3C/svg%3E");
}

html.dark-mode .mode-toggle:hover {
  background-color: rgba(255 255 255 / 15%);
  filter: brightness(1.2);
}
